@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

:root {
    --box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.34);
    --color-highlight: #2E8BC0;
    --color-highlight-dark: #145DA0;
    --color-background: #0c7c7c;
    --color-background-transparent: #0c6d8af1;
    --color-background-light: #00A8A8;
    --color-text: #fff;
    --cyan: #B1D4E0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: var(--color-background-light);
}

h1 {
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

.btn {
    cursor: pointer;
    background-color: #9c88ff;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}

.btn:focus {
    outline: 0;
}

.fa-viruses {
    color: rgb(196, 80, 80);
}