.banner-container {
    width: 100%;
    min-height: 92vh;
    max-height: 92vh;
    background-image: url('./images/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 12fr 3fr;
}

.banner-wrapper{
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-row: 1;
    background-color:var(--color-background-transparent);
    clip-path: polygon(100% 0%, 0% 0% , 0% 93.846153846154%, 1% 93.769230769231%, 2% 93.692307692308%, 3% 93.461538461538%, 4% 93.153846153846%, 5% 92.692307692308%, 6% 92.230769230769%, 7% 91.692307692308%, 8% 91.076923076923%, 9% 90.384615384615%, 10% 89.615384615385%, 11% 88.769230769231%, 12% 87.923076923077%, 13% 87.076923076923%, 14% 86.153846153846%, 15% 85.230769230769%, 16% 84.307692307692%, 17% 83.461538461538%, 18% 82.538461538462%, 19% 81.615384615385%, 20% 80.769230769231%, 21% 79.923076923077%, 22% 79.153846153846%, 23% 78.461538461538%, 24% 77.846153846154%, 25% 77.230769230769%, 26% 76.692307692308%, 27% 76.307692307692%, 28% 75.923076923077%, 29% 75.615384615385%, 30% 75.461538461538%, 31% 75.384615384615%, 32% 75.384615384615%, 33% 75.538461538462%, 34% 75.692307692308%, 35% 76%, 36% 76.307692307692%, 37% 76.769230769231%, 38% 77.307692307692%, 39% 77.923076923077%, 40% 78.615384615385%, 41% 79.307692307692%, 42% 80.076923076923%, 43% 80.923076923077%, 44% 81.769230769231%, 45% 82.692307692308%, 46% 83.615384615385%, 47% 84.538461538462%, 48% 85.384615384615%, 49% 86.307692307692%, 50% 87.230769230769%, 51% 88.076923076923%, 52% 88.923076923077%, 53% 89.769230769231%, 54% 90.461538461538%, 55% 91.153846153846%, 56% 91.769230769231%, 57% 92.307692307692%, 58% 92.769230769231%, 59% 93.153846153846%, 60% 93.461538461538%, 61% 93.692307692308%, 62% 93.846153846154%, 63% 93.846153846154%, 64% 93.769230769231%, 65% 93.615384615385%, 66% 93.384615384615%, 67% 93.076923076923%, 68% 92.615384615385%, 69% 92.153846153846%, 70% 91.538461538462%, 71% 90.923076923077%, 72% 90.230769230769%, 73% 89.461538461538%, 74% 88.692307692308%, 75% 87.846153846154%, 76% 86.923076923077%, 77% 86%, 78% 85.076923076923%, 79% 84.153846153846%, 80% 83.307692307692%, 81% 82.384615384615%, 82% 81.461538461538%, 83% 80.615384615385%, 84% 79.846153846154%, 85% 79.076923076923%, 86% 78.384615384615%, 87% 77.692307692308%, 88% 77.153846153846%, 89% 76.615384615385%, 90% 76.230769230769%, 91% 75.846153846154%, 92% 75.615384615385%, 93% 75.461538461538%, 94% 75.384615384615%, 95% 75.384615384615%, 96% 75.538461538462%, 97% 75.769230769231%, 98% 76%, 99% 76.384615384615%, 100% 76.846153846154%);


    
}

.banner-content{
    margin-bottom: 80px;
}

.down-button {
    font-size: 4rem;
    position: absolute;
    right: 50%;
    bottom: -.2rem;
    transform: translateX(50%);
    cursor: pointer;
}

.fa-angle-double-down{
    animation: arrow 1.5s ease-in infinite alternate-reverse;
}

.title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.title + p {
    color: var(--cyan);
}

@keyframes arrow{
    100%{
        transform: translateY(-.25rem);
    }

    0%{
        transform: translateY(.4rem);
    }
}

@media screen and (max-width: 960px) {
    .down-button {
        font-size: 3rem;
    }

    .title {
        font-size: 2rem;
    }

    .banner-wrapper {
        clip-path: polygon(100% 0%, 0% 0% , 0% 90.769230769231%, 1% 90.769230769231%, 2% 90.692307692308%, 3% 90.615384615385%, 4% 90.538461538462%, 5% 90.384615384615%, 6% 90.230769230769%, 7% 90%, 8% 89.769230769231%, 9% 89.538461538462%, 10% 89.230769230769%, 11% 89%, 12% 88.615384615385%, 13% 88.307692307692%, 14% 87.923076923077%, 15% 87.538461538462%, 16% 87.153846153846%, 17% 86.769230769231%, 18% 86.307692307692%, 19% 85.923076923077%, 20% 85.461538461538%, 21% 85.076923076923%, 22% 84.615384615385%, 23% 84.153846153846%, 24% 83.769230769231%, 25% 83.307692307692%, 26% 82.846153846154%, 27% 82.461538461538%, 28% 82.076923076923%, 29% 81.692307692308%, 30% 81.307692307692%, 31% 80.923076923077%, 32% 80.615384615385%, 33% 80.230769230769%, 34% 79.923076923077%, 35% 79.692307692308%, 36% 79.461538461538%, 37% 79.230769230769%, 38% 79%, 39% 78.846153846154%, 40% 78.692307692308%, 41% 78.615384615385%, 42% 78.538461538462%, 43% 78.461538461538%, 44% 78.461538461538%, 45% 78.461538461538%, 46% 78.538461538462%, 47% 78.615384615385%, 48% 78.692307692308%, 49% 78.846153846154%, 50% 79%, 51% 79.230769230769%, 52% 79.461538461538%, 53% 79.692307692308%, 54% 80%, 55% 80.307692307692%, 56% 80.615384615385%, 57% 80.923076923077%, 58% 81.307692307692%, 59% 81.692307692308%, 60% 82.076923076923%, 61% 82.461538461538%, 62% 82.923076923077%, 63% 83.307692307692%, 64% 83.769230769231%, 65% 84.153846153846%, 66% 84.615384615385%, 67% 85.076923076923%, 68% 85.538461538462%, 69% 85.923076923077%, 70% 86.384615384615%, 71% 86.769230769231%, 72% 87.153846153846%, 73% 87.538461538462%, 74% 87.923076923077%, 75% 88.307692307692%, 76% 88.692307692308%, 77% 89%, 78% 89.307692307692%, 79% 89.538461538462%, 80% 89.769230769231%, 81% 90%, 82% 90.230769230769%, 83% 90.384615384615%, 84% 90.538461538462%, 85% 90.615384615385%, 86% 90.692307692308%, 87% 90.769230769231%, 88% 90.769230769231%, 89% 90.769230769231%, 90% 90.692307692308%, 91% 90.615384615385%, 92% 90.538461538462%, 93% 90.384615384615%, 94% 90.230769230769%, 95% 90%, 96% 89.769230769231%, 97% 89.538461538462%, 98% 89.230769230769%, 99% 88.923076923077%, 100% 88.615384615385%);

    }
}

/*
//https://stackoverflow.com/questions/61157568/create-clip-path-wave-css-edges

SIN() - DEFAULT
$width_px = 1000;
$height_px = 130;
$offset = 110;
$amplitude = 12;
$frequency = 1;
$units = $frequency * $width_px / 100 ;


SIN() - MOBILE
$width_px = 1000;
$height_px = 130;
$offset = 110;
$amplitude = 8;
$frequency = 1.4;
$units = $frequency * $width_px / 100 ;
*/