.carousel-container{
    height: auto;
    background-color: var(--color-background-light)
}

.carousel-wrapper{
    margin: 5vh auto;
    text-align: center;
}

.carousel{
    min-height: 150px;
    height: 17vh;
}

.data-box{
    padding: 10px;
}

.datainfo{
    font-size: 25px;
}

.data{
    font-size: 50px;
    font-weight: bold;
}

.carousel .control-dots{
    margin:0;
}

.c1{color:#ffadad}

.c2{color: #ffd6a5}

.c3{color: #caffbf}

.c4{color: #9bf6ff}

.c5{color: #bdb2ff}


@media screen and (max-width: 425px) {

    .carousel{
        min-height: 50px;
        height: 15vh;
    }

    .datainfo{
        font-size: 20px;
    }

    .data{
        font-size: 40px;
        font-weight: bold;
    }
}

