.footer{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

.authors{
    text-align: left;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-bottom: 2rem;
}

.credits{
    text-align: left;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-bottom: 2rem;
}