.nation-container{
    height: 90vh;
    width: 100%;
    background-color: var(--color-background);
}

.chart-container{
    height: 50vh;
    width: 60vw;
    color: black;
    background-color: white;
}